<nav>
    <div class="navbar">
        <a id="title" href="/">BLOCKFOLIO</a>
        <form action="/logout" method="POST"><button id="logout" type="submit">Logout</button></form>
        <a href="/portfolio/new">Create</a>
        <a href="/portfolio">Portfolio</a>
    </div>
</nav>