<nav>
    <div class="navbar">
        Blockfolio
        <form action="/logout" method="POST"><button id="logout" type="submit">Logout</button></form>
        <a href="/portfolio">Portfolio</a>
        <a href="/portfolio/new">Create</a>
        
    </div>
</nav>