<!DOCTYPE html>
<html lang="en">
<%- include("includes/head", {title: "Welcome | Tradia"})  %>
<body class="landing">
     <h1>Blockfolio</h1>
     <h2>Track. Analyze. Succeed.</h2>

     <div class="welcome">
        
        <p>Welcome to Blockfolio, your ultimate platform for managing and documenting your trading and investment journey in the crypto area. Whether you're a seasoned trader or just starting out, Blockfolio provides you with the tools to monitor your portfolio, learn from your past trades, and make informed decisions for a prosperous financial future.</p>
   
     <div class="button">
          <a href="/login"><button class="login">Login</button></a>
          <a href="/register"><button class="register">Sign up</button></a>
     </div>
     </div>
</body>
</html>