<!DOCTYPE html>
<html lang="en">
<%- include("includes/head", {title: "Journal | Tradia"})  %>
<body>
    <%- include("includes/nav") %>
    <main>
    <h1>New Journal</h1>
        <div class="formbox">
        <form action="/portfolio/new" method="POST">
            <label for="asset">Asset:</label>
            <input type="text" name="asset" id="asset" >
            <select id="buysell" name="buysell">
                <option value="buy" name="buy" id="buy">Buy</option>
                <option value="sell" name="sell">Sell</option>
            </select>
            
            <label for="price">Price</label>
            <input type="number" step="0.01" name="price" id="price">
            <label for="amount">Amount</label>
            <input type="number" step="0.01" name="amount" id="amount">
            
            <label for="date">Date</label>
            <input type="date" name="date" id="date">
            <br>
            <textarea name="description" id="description" rows="6" cols="30" placeholder="What was your reason?"></textarea>
            <br>
            <button type="submit">Create</button>
        
        </form>
        </div>
    </main>
    <%- include("includes/footer")  %>
</body>

</html>